@import "/style.css";

.contenedor-experiencia {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 20px 200px;
  column-gap: 50px;
  grid-template-areas:
    "exp1 img-exp-2 exp3"
    "barra-progreso barra-progreso barra-progreso"
    "img-exp-1 exp2 img-exp-3";
  width: fit-content;
  margin: 0px auto;
}

img {
  aspect-ratio: 1/1;
  width: 50px;
  margin-block: 10px;
  border-radius: 5px;
  filter: blur(10px);
  opacity: 0;
  transition:
    opacity 1s,
    filter 1.5s,
    width 0.5s;
}

.experiencia-1 {
  grid-area: exp1;
}
.experiencia-2 {
  grid-area: exp2;
}
.experiencia-3 {
  grid-area: exp3;
}
.imagen-experiencia-1 {
  grid-area: img-exp-1;
}
.imagen-experiencia-2 {
  grid-area: img-exp-2;
  align-self: flex-end;
}
.imagen-experiencia-3 {
  grid-area: img-exp-3;
}
.imagen-experiencia-1,
.imagen-experiencia-2,
.imagen-experiencia-3 {
  justify-self: center;
}

h1 {
  font-size: 20px;
  color: var(--color6);
  margin-block: 5px;
}

h5 {
  color: var(--color8);
  font-size: 10px;
}

p {
  text-wrap: pretty;
  font-family: "Xenon", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color8);
  font-size: 12px;
  margin-block: 5px;
}

.experiencia-1,
.experiencia-3 {
  align-content: end;
}

.experiencia-1 > h1,
.experiencia-1 > h5,
.experiencia-1 > p {
  margin-left: 10px;
}

.experiencia-1 > h5 {
  margin-block: 10px 5px;
}

.experiencia-1 > p {
  width: 200px;
}

.experiencia-2 > h1,
.experiencia-2 > h5 {
  margin-left: 10px;
}
.experiencia-2 > h5 {
  margin-block: 5px 10px;
}

.experiencia-2 > p {
  width: 185px;
  margin-left: 10px;
}

.experiencia-3 > h1,
.experiencia-3 > h5 {
  margin-left: 10px;
}
.experiencia-3 > h5 {
  margin-block: 10px 5px;
}

.experiencia-3 > p {
  width: 180px;
  margin-left: 10px;
}
.barra-progreso {
  position: absolute;
  grid-area: barra-progreso;
  align-self: center;
  height: 5px;
  width: 700px;
  border: 2px var(--color6) solid;
  border-radius: 20px;
  overflow: hidden;
}
.barra-progreso > span {
  position: absolute;
  width: 800px;
  height: 20px;
  left: -800px;
  background-color: var(--color6);
  transition: left 1s ease-out;
}
.imagen-visible {
  width: 150px;
  opacity: 1;
  filter: blur(0px);
}
