<div class="contenedor-experiencia">
  <a href="https://www.opitech.com.co" target="_blank" class="experiencia-1">
    <p>
      Desarrollo de funcionalidades web, solución de bugs, transmisión de
      conocimientos y manejo básico de DevOps
    </p>
    <h5>(11/2021 - 11/2022)</h5>
    <h1>Opitech</h1>
  </a>
  <img
    class="imagen-experiencia-2"
    style="--i: 2"
    src="https://pub-d003df596eb74447bf4abe719613b283.r2.dev/IconoITSense.jpeg"
    alt="Imagen del icono de ITSense"
  />
  <a href="https://lpsysco.com" target="_blank" class="experiencia-3">
    <p>
      Diseño y creación de nuevas API’s para una importante entidad bancaria
      estadounidense. Mantenimiento de API’s y supervisión de PR’s.
    </p>
    <h5>(06/2026 - actual)</h5>
    <h1>LP Sysco</h1>
  </a>
  <img
    class="imagen-experiencia-1"
    style="--i: 1"
    src="https://pub-d003df596eb74447bf4abe719613b283.r2.dev/IconoOpiTech.jpg"
    alt="Imagen del icono de Opi Technology"
  />
  <a href="https://itsense.com.co/" target="_blank" class="experiencia-2">
    <h1>ITSense</h1>
    <h5>(11/2022 - 06/2023)</h5>
    <p>
      Actualización de frameworks .net y angular. Solución de bugs y creación de
      nuevas funcionalidades para el área de soluciones digitales.
    </p>
  </a>
  <img
    class="imagen-experiencia-3"
    style="--i: 3"
    src="https://pub-d003df596eb74447bf4abe719613b283.r2.dev/IconoLPSysco.jpg"
    alt="Imagen del icono de LP Sysco"
  />
  <div class="barra-progreso">
    <span id="progreso"></span>
  </div>
</div>
