@import "/style.css";

p {
  color: var(--color8);
}

#reloj {
  display: flex;
  margin: 2rem auto;
  width: fit-content;
  /*background-color: var(--color6);*/
  border-radius: 10px;
}

#reloj > .pais {
  width: 90px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#reloj > .hora {
  width: 50px;
}

#reloj > div > p {
  margin: 5px auto;
  width: fit-content;
}

#hora-contenido {
  animation: 1.2s infinite alternate parpadeo;
}

@keyframes parpadeo {
  from {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
