<div class="contacto-contenedor">
  <div class="contacto-texto">
    <h1>Hablemos YA</h1>
    <p>
      De tus proyectos y como puedo aportar en ellos, o para cotizaciones.
      Puedes llenar el formulario o contactarme a mi celular.
    </p>
    <form>
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" autocomplete value="" />
      <label for="correo">Correo</label>
      <input type="email" name="correo" value="" />
      <label for="mensaje">Mensaje</label>
      <textarea type="textarea" name="mensaje" value="" rows="3"> </textarea>
      <button type="submit">Enviar</button>
    </form>
  </div>
  <div class="contacto-imagen">
    <img
      class="foto-formal"
      src="https://pub-d003df596eb74447bf4abe719613b283.r2.dev/foto-formal-contacto.png"
      alt="Foto de medio cuerpo de Daniel Lizarazo"
    />
    <img
      class="foto-señalando"
      src="https://pub-d003df596eb74447bf4abe719613b283.r2.dev/foto-dedo-contacto.png"
      alt="Foto de medio cuerpo de Daniel Lizarazo"
    />
  </div>
</div>
