<div class="contacto-texto">
  <h1>Hablemos YA</h1>
  <p>
    De tus proyectos y como puedo aportar en ellos, o para cotizaciones. Puedes
    llenar el formulario o contactarme a mi celular.
  </p>
  <form>
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" autocomplete value="" />
    <label for="correo">Correo</label>
    <input type="email" name="correo" value="" />
    <label for="mensaje">Mensaje</label>
    <textarea type="textarea" name="mensaje" value="" rows="3"> </textarea>
    <button type="submit">Enviar</button>
  </form>
</div>
