div {
  margin-block: 40px 30px;
  height: 270px;
}

h1 {
  cursor: default;
  position: absolute;
  text-align: center;
  font-family: "Neon", sans-serif;
  font-weight: normal;
  margin: 5px 0 5px;
  font-size: 100px;
  letter-spacing: 17px;
  line-height: 100px;
  left: 50%;
  mix-blend-mode: screen;
  user-select: none;
}

.nombre-rojo,
.apellido-rojo {
  color: var(--color5);
  transform: translate(-50%, 0px);
  animation: 3s ease-in-out infinite alternate movimiento-rojo;
}
.apellido-rojo {
  top: 150px;
}

.nombre-azul,
.apellido-azul {
  color: var(--color2);
  transform: translate(-50%, 0px);
  animation: 3s ease-in-out infinite alternate movimiento-azul;
}
.apellido-azul {
  top: 150px;
}

.nombre-verde,
.apellido-verde {
  color: var(--color4);
  transform: translate(-50%, 0px);
  animation: 3s ease-in-out infinite alternate movimiento-verde;
}
.apellido-verde {
  top: 150px;
}

@keyframes movimiento-rojo {
  50% {
    transform: translate(-50%, 0px);
  }
  80% {
    transform: translate(calc(-50% + 2px), -2px);
  }
  to {
    transform: translate(calc(-50% + 4px), -4px);
  }
}

@keyframes movimiento-azul {
  50% {
    transform: translate(-50%, 0px);
  }
  80% {
    transform: translate(calc(-50% - 2px), 1px);
  }
  to {
    transform: translate(calc(-50% - 4px), 2px);
  }
}

@keyframes movimiento-verde {
  50% {
    transform: translate(-50%, 0px);
  }
  80% {
    transform: translate(calc(-50% + 2px), 2px);
  }
  to {
    transform: translate(calc(-50% + 4px), 4px);
  }
}

@media (max-width: 400px) {
  div {
    margin-block: 100px 100px;
    height: 150px;
  }

  h1 {
    position: absolute;
    text-align: center;
    font-size: 30px;
    letter-spacing: 10px;
  }

  .apellido-rojo {
    top: 80px;
  }

  .apellido-azul {
    top: 80px;
  }

  .apellido-verde {
    top: 80px;
  }
}
