@import "/style.css";
:host {
  --position-x: 0px;
  --position-y: 0px;
  --color-relleno: hsl(280 50% 50%);
}
svg {
  left: var(--position-x);
  top: var(--position-y);
  position: absolute;
  transform: rotate(0deg);
  fill: var(--color-relleno);
  height: 270px;
  filter: blur(60px);
  transition:
    top 1s cubic-bezier(0.7, 1.2, 0.7, 1.2),
    left 1s cubic-bezier(0.7, 1.2, 0.7, 1.2),
    fill 0.2s linear;
  animation: 10s linear infinite running rotacion;
}

@keyframes rotacion {
  to {
    transform: rotate(360deg);
  }
}
